<%- include header.ejs %>

    <h1><%= nombre%> elije tu pokemon</h1>
    <ul>
      <li><a href="/<%= nombre%>/pokemons/Pikachu" name="pokemon">Pikachu</a></li>
      <li><a href="/<%= nombre%>/pokemons/Squirtle" name="pokemon">Squirtle</a></li>
      <li><a href="/<%= nombre%>/pokemons/Charmander" name="pokemon">Charmander</a></li>
      <li><a href="/<%= nombre%>/pokemons/Bulbasaur" name="pokemon">Bulbasaur</a></li>
    </ul>
    
<%- include footer.ejs %>
